USE [TecnoPuntaBD]
GO
/****** Object:  Table [dbo].[Carrito]    Script Date: 23/06/2025 22:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carrito](
	[DNI_Vendedor] [int] NOT NULL,
	[Total] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_id_carrito] PRIMARY KEY CLUSTERED 
(
	[DNI_Vendedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarritoDetalle]    Script Date: 23/06/2025 22:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarritoDetalle](
	[id_CarritoDetalle] [int] IDENTITY(1,1) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[SubTotal] [decimal](10, 2) NOT NULL,
	[DNI_Vendedor] [int] NOT NULL,
	[FechaUltimaModificacion] [datetime] NOT NULL,
	[Producto] [varchar](100) NOT NULL,
 CONSTRAINT [PK_id_CarritoDetalle] PRIMARY KEY CLUSTERED 
(
	[id_CarritoDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 23/06/2025 22:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[DNI_Cliente] [int] NOT NULL,
	[Nombre_Cliente] [varchar](100) NOT NULL,
	[Apellido_Cliente] [varchar](100) NOT NULL,
	[Telefono_Cliente] [varchar](20) NOT NULL,
	[Correo_Cliente] [varchar](150) NOT NULL,
	[Direccion_Cliente] [varchar](150) NOT NULL,
	[Estado_Cliente] [varchar](10) NULL,
	[Id_Sexo] [int] NULL,
	[fechaCreacion] [datetime] NULL,
	[genero] [varchar](10) NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[DNI_Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Cliente_Correo] UNIQUE NONCLUSTERED 
(
	[Correo_Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Condicion]    Script Date: 23/06/2025 22:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Condicion](
	[Id_Condicion] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion_Estado] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Condicion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estado]    Script Date: 23/06/2025 22:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado](
	[Id_Estado] [int] NOT NULL,
	[Descripcion_Estado] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Estado] PRIMARY KEY CLUSTERED 
(
	[Id_Estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marcas]    Script Date: 23/06/2025 22:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marcas](
	[Id_Marca] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Marca] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Marca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MetodoDePago]    Script Date: 23/06/2025 22:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetodoDePago](
	[Id_MetodoDePago] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion_MetodoDePago] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_MetodoDePago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 23/06/2025 22:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[Modelo_Producto] [varchar](100) NOT NULL,
	[Nombre_Producto] [varchar](100) NOT NULL,
	[SistemaOperativo_Producto] [varchar](100) NOT NULL,
	[Almacenamiento_Producto] [varchar](100) NOT NULL,
	[Ram_Producto] [varchar](100) NOT NULL,
	[Stock_Producto] [int] NOT NULL,
	[Precio_Producto] [decimal](10, 2) NOT NULL,
	[Id_Marca] [int] NULL,
	[Id_Condicion] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Modelo_Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 23/06/2025 22:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id_Rol] [int] NOT NULL,
	[Descripcion_Rol] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id_Rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sexo]    Script Date: 23/06/2025 22:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sexo](
	[Id_Sexo] [int] NOT NULL,
	[Descripcion_Sexo] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Sexo] PRIMARY KEY CLUSTERED 
(
	[Id_Sexo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 23/06/2025 22:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[DNI_Usuario] [int] NOT NULL,
	[Usuario] [varchar](100) NOT NULL,
	[Nombre_Usuario] [varchar](100) NOT NULL,
	[Apellido_Usuario] [varchar](100) NOT NULL,
	[Correo_Usuario] [varchar](150) NOT NULL,
	[Sueldo_Usuario] [decimal](10, 2) NOT NULL,
	[Telefono_Usuario] [varchar](100) NOT NULL,
	[Contraseña] [varchar](100) NOT NULL,
	[Sexo_Usuario] [int] NOT NULL,
	[Rol_Usuario] [int] NOT NULL,
	[fechaDeRegistro] [datetime] NOT NULL,
	[Estado_Usuarios] [varchar](10) NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[DNI_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Usuario_Email] UNIQUE NONCLUSTERED 
(
	[Correo_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Usuario_Name] UNIQUE NONCLUSTERED 
(
	[Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 23/06/2025 22:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[idVenta] [int] IDENTITY(1,1) NOT NULL,
	[DNI_Vendedor] [int] NOT NULL,
	[DNI_Cliente] [int] NOT NULL,
	[Id_MetodoDePago] [int] NOT NULL,
	[Total] [decimal](10, 2) NOT NULL,
	[FechaVenta] [datetime] NOT NULL,
 CONSTRAINT [PK_id_idVenta] PRIMARY KEY CLUSTERED 
(
	[idVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VentaDetalle]    Script Date: 23/06/2025 22:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VentaDetalle](
	[idVenta] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[SubTotal] [decimal](10, 2) NOT NULL,
	[Producto] [varchar](100) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CarritoDetalle] ADD  DEFAULT (getdate()) FOR [FechaUltimaModificacion]
GO
ALTER TABLE [dbo].[Clientes] ADD  CONSTRAINT [DF_Estado_Cliente]  DEFAULT ('ACTIVO') FOR [Estado_Cliente]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT (getdate()) FOR [fechaCreacion]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [fechaDeRegistro]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF_Estado_Usuarios]  DEFAULT ('ACTIVO') FOR [Estado_Usuarios]
GO
ALTER TABLE [dbo].[Venta] ADD  DEFAULT (getdate()) FOR [FechaVenta]
GO
ALTER TABLE [dbo].[Carrito]  WITH CHECK ADD  CONSTRAINT [FK_DNI_Vendedor] FOREIGN KEY([DNI_Vendedor])
REFERENCES [dbo].[Usuarios] ([DNI_Usuario])
GO
ALTER TABLE [dbo].[Carrito] CHECK CONSTRAINT [FK_DNI_Vendedor]
GO
ALTER TABLE [dbo].[CarritoDetalle]  WITH CHECK ADD  CONSTRAINT [FK_DNI_id_carrito] FOREIGN KEY([DNI_Vendedor])
REFERENCES [dbo].[Carrito] ([DNI_Vendedor])
GO
ALTER TABLE [dbo].[CarritoDetalle] CHECK CONSTRAINT [FK_DNI_id_carrito]
GO
ALTER TABLE [dbo].[CarritoDetalle]  WITH CHECK ADD  CONSTRAINT [FK_Producto] FOREIGN KEY([Producto])
REFERENCES [dbo].[Productos] ([Modelo_Producto])
GO
ALTER TABLE [dbo].[CarritoDetalle] CHECK CONSTRAINT [FK_Producto]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_Sexo] FOREIGN KEY([Id_Sexo])
REFERENCES [dbo].[Sexo] ([Id_Sexo])
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [FK_Clientes_Sexo]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Condicion] FOREIGN KEY([Id_Condicion])
REFERENCES [dbo].[Condicion] ([Id_Condicion])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Condicion]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Marca] FOREIGN KEY([Id_Marca])
REFERENCES [dbo].[Marcas] ([Id_Marca])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Marca]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Rol] FOREIGN KEY([Rol_Usuario])
REFERENCES [dbo].[Roles] ([Id_Rol])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Rol]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Sexo] FOREIGN KEY([Sexo_Usuario])
REFERENCES [dbo].[Sexo] ([Id_Sexo])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Sexo]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [FK_DNI_DNI_Cliente] FOREIGN KEY([DNI_Cliente])
REFERENCES [dbo].[Clientes] ([DNI_Cliente])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [FK_DNI_DNI_Cliente]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [FK_DNI_Vendedorr] FOREIGN KEY([DNI_Vendedor])
REFERENCES [dbo].[Usuarios] ([DNI_Usuario])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [FK_DNI_Vendedorr]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [FK_Id_MetodoDePago] FOREIGN KEY([Id_MetodoDePago])
REFERENCES [dbo].[MetodoDePago] ([Id_MetodoDePago])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [FK_Id_MetodoDePago]
GO
ALTER TABLE [dbo].[VentaDetalle]  WITH CHECK ADD  CONSTRAINT [FK_idVenta] FOREIGN KEY([idVenta])
REFERENCES [dbo].[Venta] ([idVenta])
GO
ALTER TABLE [dbo].[VentaDetalle] CHECK CONSTRAINT [FK_idVenta]
GO
ALTER TABLE [dbo].[VentaDetalle]  WITH CHECK ADD  CONSTRAINT [FK_Productoo] FOREIGN KEY([Producto])
REFERENCES [dbo].[Productos] ([Modelo_Producto])
GO
ALTER TABLE [dbo].[VentaDetalle] CHECK CONSTRAINT [FK_Productoo]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [CHK_Genero] CHECK  (([genero]='Otro' OR [genero]='Femenino' OR [genero]='Masculino'))
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [CHK_Genero]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [CK_Estado] CHECK  (([Estado_Cliente]='ACTIVO' OR [Estado_Cliente]='BAJA'))
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [CK_Estado]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD CHECK  (([Stock_Producto]>=(0)))
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [CK_EstadoUsuarios] CHECK  (([Estado_Usuarios]='ACTIVO' OR [Estado_Usuarios]='BAJA'))
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [CK_EstadoUsuarios]
GO
/****** Object:  StoredProcedure [dbo].[ActualizarStockSiExcede10Minutos]    Script Date: 23/06/2025 22:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarStockSiExcede10Minutos]
AS
BEGIN
    -- Actualizar el stock en Productos y eliminar los registros de CarritoDetalle
    UPDATE p
    SET Stock_Producto = Stock_Producto + cd.Cantidad
    FROM Productos p
    JOIN CarritoDetalle cd ON p.Modelo_Producto = cd.Producto
    WHERE DATEDIFF(MINUTE, cd.FechaUltimaModificacion, GETDATE()) > 10;

    -- Eliminar registros de CarritoDetalle que cumplan la condición
    DELETE FROM CarritoDetalle
    WHERE DATEDIFF(MINUTE, FechaUltimaModificacion, GETDATE()) > 10;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarCantidadProductoEnCarrito]    Script Date: 23/06/2025 22:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarCantidadProductoEnCarrito]
    @DNI_Vendedor INT,
    @Modelo_Producto VARCHAR(50)
AS
BEGIN
    UPDATE CarritoDetalle 
    SET Cantidad = Cantidad + 1,
        SubTotal = (Cantidad + 1) * (SELECT Precio_Producto FROM Productos WHERE Modelo_Producto = @Modelo_Producto)
    WHERE DNI_Vendedor = @DNI_Vendedor AND Producto = @Modelo_Producto
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarProducto]    Script Date: 23/06/2025 22:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarProducto]
    @Modelo_Producto NVARCHAR(50),
    @Nombre_Producto NVARCHAR(100),
    @SistemaOperativo_Producto NVARCHAR(100),
    @Almacenamiento_Producto NVARCHAR(50),
    @Ram_Producto NVARCHAR(50),
    @Stock_Producto INT,
    @Precio_Producto DECIMAL(18, 2),
    @Id_Marca INT,
    @Id_Condicion INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Productos
    SET 
        Nombre_Producto = @Nombre_Producto,
        SistemaOperativo_Producto = @SistemaOperativo_Producto,
        Almacenamiento_Producto = @Almacenamiento_Producto,
        Ram_Producto = @Ram_Producto,
        Stock_Producto = @Stock_Producto,
        Precio_Producto = @Precio_Producto,
        Id_Marca = @Id_Marca,
        Id_Condicion = @Id_Condicion
    WHERE 
        Modelo_Producto = @Modelo_Producto;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarStockProducto]    Script Date: 23/06/2025 22:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarStockProducto]
    @Modelo_Producto VARCHAR(50)
AS
BEGIN
    UPDATE Productos
    SET Stock_Producto = Stock_Producto - 1
    WHERE Modelo_Producto = @Modelo_Producto AND Stock_Producto > 0
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarTotalCarrito]    Script Date: 23/06/2025 22:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarTotalCarrito]
    @DNI_Vendedor INT
AS
BEGIN
    UPDATE Carrito
    SET Total = (SELECT SUM(SubTotal) FROM CarritoDetalle WHERE DNI_Vendedor = @DNI_Vendedor)
    WHERE DNI_Vendedor = @DNI_Vendedor
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AgregarProductoAlCarrito]    Script Date: 23/06/2025 22:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AgregarProductoAlCarrito]
    @DNI_Vendedor INT,
    @Modelo_Producto VARCHAR(50)
AS
BEGIN
    INSERT INTO CarritoDetalle (Cantidad, SubTotal, DNI_Vendedor, Producto)
    VALUES (
        1, 
        (SELECT Precio_Producto FROM Productos WHERE Modelo_Producto = @Modelo_Producto),
        @DNI_Vendedor, 
        @Modelo_Producto
    )
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BuscarProductoPorModelo]    Script Date: 23/06/2025 22:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_BuscarProductoPorModelo]
    @Modelo NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        p.Modelo_Producto,
        p.Nombre_Producto,
        p.SistemaOperativo_Producto,
        p.Almacenamiento_Producto,
        p.Ram_Producto,
        p.Stock_Producto,
        p.Precio_Producto,
        m.Id_Marca,
        m.Nombre_Marca,
        c.Id_Condicion,
        c.Descripcion_Estado
    FROM 
        Productos p
    LEFT JOIN Marcas m ON p.Id_Marca = m.Id_Marca
    LEFT JOIN Condicion c ON p.Id_Condicion = c.Id_Condicion
    WHERE 
        p.Modelo_Producto = @Modelo;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_cambiarEstadoProducto]    Script Date: 23/06/2025 22:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_cambiarEstadoProducto]
    @Modelo_Producto NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM Productos WHERE Modelo_Producto = @Modelo_Producto)
    BEGIN
      
        UPDATE Productos
        SET id_Condicion= 
            CASE 
                WHEN id_Condicion= 1 THEN 2 
                WHEN id_Condicion= 2 THEN 1  
                ELSE id_Condicion
            END
        WHERE Modelo_Producto = @Modelo_Producto;
    END
    ELSE
    BEGIN
        RAISERROR('No se encontró el producto con el modelo proporcionado.', 16, 1);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GuardarProducto]    Script Date: 23/06/2025 22:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GuardarProducto]
    @Modelo NVARCHAR(50),
    @Nombre NVARCHAR(100),
    @SistemaOperativo NVARCHAR(100),
    @Almacenamiento NVARCHAR(50),
    @Ram NVARCHAR(50),
    @Stock INT,
    @Precio DECIMAL(18, 2),
    @IdMarca INT,
    @IdCondicion INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        INSERT INTO Productos (
            Modelo_Producto,
            Nombre_Producto,
            SistemaOperativo_Producto,
            Almacenamiento_Producto,
            Ram_Producto,
            Stock_Producto,
            Precio_Producto,
            Id_Marca,
            Id_Condicion
        )
        VALUES (
            @Modelo,
            @Nombre,
            @SistemaOperativo,
            @Almacenamiento,
            @Ram,
            @Stock,
            @Precio,
            @IdMarca,
            @IdCondicion
        );
    END TRY
    BEGIN CATCH
        -- Manejo básico del error
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerCantidadProductoEnCarrito]    Script Date: 23/06/2025 22:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerCantidadProductoEnCarrito]
    @DNI_Vendedor INT,
    @Modelo_Producto VARCHAR(50)
AS
BEGIN
    SELECT Cantidad 
    FROM CarritoDetalle 
    WHERE DNI_Vendedor = @DNI_Vendedor AND Producto = @Modelo_Producto
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerProductos]    Script Date: 23/06/2025 22:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerProductos]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        p.Modelo_Producto,
        p.Nombre_Producto,
        p.SistemaOperativo_Producto,
        p.Almacenamiento_Producto,
        p.Ram_Producto,
        p.Stock_Producto,
        p.Precio_Producto,
        m.Id_Marca,
        m.Nombre_Marca,
        c.Id_Condicion,
        c.Descripcion_Estado
    FROM 
        Productos p
    LEFT JOIN Marcas m ON p.Id_Marca = m.Id_Marca
    LEFT JOIN Condicion c ON p.Id_Condicion = c.Id_Condicion
    ORDER BY 
        m.Nombre_Marca;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ToggleEstadoProducto]    Script Date: 23/06/2025 22:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ToggleEstadoProducto]
    @Modelo_Producto NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM Producto WHERE Modelo_Producto = @Modelo_Producto)
    BEGIN
      
        UPDATE Producto
        SET Estado_Producto = 
            CASE 
                WHEN Estado_Producto = 'ACTIVO' THEN 'BAJA'
                WHEN Estado_Producto = 'BAJA' THEN 'ACTIVO'
                ELSE Estado_Producto 
            END
        WHERE Modelo_Producto = @Modelo_Producto;
    END
    ELSE
    BEGIN
        RAISERROR('No se encontró el producto con el modelo proporcionado.', 16, 1);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ValidarProducto]    Script Date: 23/06/2025 22:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ValidarProducto]
    @Modelo_Producto VARCHAR(100),
    @Nombre_Producto VARCHAR(100),
    @SistemaOperativo_Producto VARCHAR(100),
    @Almacenamiento_Producto VARCHAR(100),
    @Ram_Producto VARCHAR(100),
    @Stock_Producto INT,
    @Precio_Producto DECIMAL(10, 2),
    @Id_Marca INT = NULL,
    @Id_Condicion INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Validaciones de tipo y contenido

    IF @Modelo_Producto IS NULL OR LEN(@Modelo_Producto) = 0
    BEGIN
        RAISERROR('Campo "Modelo_Producto" es obligatorio.', 16, 1);
        RETURN;
    END

    IF @Nombre_Producto IS NULL OR LEN(@Nombre_Producto) = 0
    BEGIN
        RAISERROR('Campo "Nombre_Producto" es obligatorio. Debe contener letras y numeros', 16, 1);
        RETURN;
    END

    IF @SistemaOperativo_Producto IS NULL OR LEN(@SistemaOperativo_Producto) = 0
    BEGIN
        RAISERROR('Campo "SistemaOperativo_Producto" es obligatorio.', 16, 1);
        RETURN;
    END

    IF @Almacenamiento_Producto IS NULL OR LEN(@Almacenamiento_Producto) = 0
    BEGIN
        RAISERROR('Campo "Almacenamiento_Producto" es obligatorio. Tipo esperado: numero.', 16, 1);
        RETURN;
    END

    IF @Ram_Producto IS NULL OR LEN(@Ram_Producto) = 0
    BEGIN
        RAISERROR('Campo "Ram_Producto" es obligatorio. Tipo esperado: numero.', 16, 1);
        RETURN;
    END

    IF @Stock_Producto IS NULL OR @Stock_Producto < 0
    BEGIN
        RAISERROR('Campo "Stock_Producto" inválido. Debe ser numero y mayor o igual a 0.', 16, 1);
        RETURN;
    END

    IF @Precio_Producto IS NULL OR @Precio_Producto <= 0
    BEGIN
        RAISERROR('Campo "Precio_Producto" inválido. Debe ser un numero y mayor que 0.', 16, 1);
        RETURN;
    END

    IF @Id_Marca IS NOT NULL AND NOT EXISTS (SELECT 1 FROM Marcas WHERE Id_Marca = @Id_Marca)
    BEGIN
        RAISERROR('El valor de "Id_Marca" no es válido.', 16, 1);
        RETURN;
    END


    PRINT 'Los datos del producto son válidos.';
END;
GO
